
<table class="table table-striped">
   
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">description</th>
      <th scope="col"></th>
      <th scope="col "></th>
    </tr>
  </thead>
   {{#each cart}}
  <tbody>
    <tr>
      <th scope="row">1</th>
      
      <td><img src="images/{{product._id}}.jpg" style="height: 50px; width:50px"></td>
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      
      <td><button class="btn btn-outline-secondary me-2"  onclick="changeQuantity('{{_id}}','{{product._id}}',-1)" style="width: 50px;">-</button > {{index}} <button class="btn btn-outline-secondary btn "  style="width: 50px;" onclick="changeQuantity('{{_id}}','{{product._id}}',1)" > + </button></td>
      <td><p class="btn btn-danger">Delete</p></td>
    </tr>
   
  </tbody>
  {{/each}}
</table>
{{!-- <script>
{{!-- function //changeQuantity(Cartid,productId,count){
       
       $.ajax( 
       
         {
          url:"/change-quantity",
          data:{
            cart:Cartid,product:productId,count:count
          },
          type:"post",
          success:(response)=>{
            console.log(response,"resp")
          }

         }
       )


} --}}

</script> --}}