<section>
   <img src="/images/Banner.jpg" style="width: 100%;" alt="" srcset="">
  <div class="container mt-3 ">
   
 <div class="row me-3" style="background-color: aliceblue;"">
  {{#each product}}
  <div class="col-md-3 col-sm-6 mt-3">
    <div class="card text-center" style="width: 17rem; height: 33rem">
      <img src="/images/{{_id}}.jpg" class="mx-auto" width="200px" height="220px" alt="...">
      <div class="card-body d-flex flex-column">
        <div>
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{description}}</p>
        </div>
        <div class="mt-auto">
          <p class="card-text"><b>Rs {{price}}</b></p>
          <div class="button pb-2">
            <button class="btn btn-secondary" onclick="addToCart('{{_id}}')">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>



  
  </div>
</section>

   